# Set default behavior for all files
* text=auto

# Specific file types to always have LF line endings
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.sh text eol=lf
Dockerfile text eol=lf
.env text eol=lf

# Binary files should not be modified
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.zip binary
*.jar binary
*.exe binary
*.dll binary

# Ignore node_modules folder
node_modules/ binary
